/* General CSS Settings */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    margin-left: 0;
    margin-right: 0;
    font-family: Roboto;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    padding-bottom:20px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    color:rgb(30, 108, 74) ;
}

/* NAV CSS Settings */

nav {
    background-color: rgb(30, 108, 74);
    width: 100%;
    padding: 5px
}

nav > ul {
    list-style: none;
    text-align: center;
    padding: 2px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav li {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

nav a:hover{
    color: goldenrod;
}

/* Main CSS Settings */

section {
    display: flex;
}

article {
    flex: 1;
}

article p {
    font-size: 14px;
}

#hero {
    position: relative;
    color: white;
    height: 40vh;
    width: 80vw;
}

#herobg {
    position: absolute;
    background: linear-gradient(0deg, rgba(2,0,36,0.78) 26%, rgba(255,255,255,0) 100%);
    width: 98%;
    bottom: 0px;
    left: 20px;
    border-radius: 20px;
}

#hero p {
    padding-right: 40px;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

#sec2 {
}

#sec2 > article {
justify-content: center;    padding-right: 2px;
    padding-left: 2px;
    text-overflow: ellipsis;
}

#sec2 > article img {
    width: 100%;
    height: 60%;
    object-fit:cover;
    border-radius: 10px;
}

#sec2 p {
    text-align: justify;
    text-overflow: ellipsis;
}

.art2 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Footer CSS Settings */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:  rgb(30, 108, 74);
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer img {
    float: left;
    padding-left: 15px;
    padding-bottom: 5px;
    width: 20px;
}

footer small {
    font-size: x-small;
    float: right;
    padding-top: 11px;
    padding-right: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Mobile CSS Settings */

@media (max-width: 480px) {
    nav ul{
        display: flex;
        flex-direction: column;
    }

    nav li {
        padding: 10px;
    }

    nav {
        margin-bottom: 10px;
    }

    #sec2 {
        flex-direction: column;
        flex: 1;
    }

    #sec2 h2 {
        font-size: 2.5rem;
    }

    #sec2 p {
        margin-top: -20px;
        font-size: 1rem;
    }

    #herobg {
        position: absolute;
        background: linear-gradient(0deg, rgba(2,0,36,0.78) 26%, rgba(255,255,255,0) 100%);
        width: 96%;
        bottom: 0px;
        left: 20px;
        border-radius: 20px;
    }

    #herobg p {
        width: 80%;
    }
}

@media (min-width: 480px) {
    main {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
}